* {
    margin: 0px;
}

@font-face {
    font-family: 'edo-sz';
    src: url(../Fonts/edo_sz/edosz.ttf);
}

body {
    height: 96vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

main {
    height: auto;
}

.ButtonBack {
    width: 84vw;
    height: 14.2vh;
    margin-bottom: 4vh;
    background-image: url("../Images/kiryu-walk.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.ButtonGrad {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonGrad > h1 {
    font-family: 'edo-sz';
    font-size: 7em;
    font-weight: lighter;
    color: white;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 3vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.Return {
    width: 84vw;
    height: 14.2vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Return > h1 {
    font-family: 'edo-sz';
    font-size: 7em;
    font-weight: lighter;
    color: white;
    text-align: center; 
}