* {
    margin: 0px;
    padding: 0px;
    font-family: 'edo-sz';
}

@font-face {
    font-family: 'edo-sz';
    src: url(../Fonts/edo_sz/edosz.ttf);
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 4vh;
}

header > img {
    width: 90vw;
    height: 27vh;
    margin-bottom: 5vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

main > h2 {
    margin-top: 2vh;
    font-size: 1.5em;
    margin-bottom: 1vh;
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

main > p{
    text-align: center;
    font-size: 1.5em;
    padding: 5vw;
    padding-top: 0px;
    padding-bottom: 0px;
}

footer {
    height: auto;
    width: 100vw;
    margin-top: 5vh;
}

nav {
    width: inherit;
    display: flex;
    justify-content: center;
    column-gap: 2vh;
}

.Button {
    width: 42vw;
    height: 12vh;
    margin-bottom: 4vh;
    background-image: url("../Images/kiryu-walk.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button > h1 {
    font-size: 1.4em;
    font-weight: lighter;
    color: white;
    text-align: center;
}
